.chatroom-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.message-list li{
    font-family: sans-serif;
    padding-top: 5px; 
}

.message-list-container{
    position: absolute;
    bottom: 120px;
    top: 0px;
    width: 100%;
    overflow: scroll;
}

.flex-div{
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.message-list{
    font-size: 14px;
    list-style: none;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-form-container{
    background-color: white;
    position: absolute;
    z-index: 3;
    overflow: hidden;
    left: 2.5%;
    right: 2.5%;
    bottom: 20px; 
    border: 1px solid gray; 
    min-height: 70px;
    width: 95%;
    border-radius: 5px;
 
}

.message-input-join{
    position: absolute;
    bottom: 0px;
    background-color:#a7a7a71f;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    text-align: center;
    font-family: sans-serif;
}

.you-are-viewing{
    padding: 10px;
}
.message-input-join button {
      cursor: pointer;
    font-weight: bold;
    width: 100px;
    margin: 20px;
    
    border-radius: 5px;
    height: 40px; 
    align-self: center;
   
}
.messages-channel-name{
    font-weight: bold;
}


.message-form-input{
    font-family: sans-serif;
    width: 100%;
    height: 35px;
    border: 0px; 
    padding: 0;
    outline:none; 
    resize: none;
}

.message-form-btn-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 10px;
    margin-bottom: 20px;
}



.message-form-btn-active{
    background-color: #0b9a6c;
    color:white; 
    border: 0;
    border-radius: 3px;
    height: 25px;
    margin-right: 5px;
}

.message-form-btn-inactive{
    background-color: none;
    color:darkgray; 
    border: 0;
    border-radius: 3px;
    height: 25px;
    margin-right: 5px;
}

.message-div{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 5px; 
    padding-bottom: 5px;
}
.message-profile-body{
    display: flex;
}

.message-div:hover{
    background-color: #d3d3d330;
}

.message-username{
    font-weight: bold;
    color: black;
    padding-right: 5px;
    padding-top: 0px;
    margin-top: 0px;
}

.message-timestamp{
    color: gray;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 4px;
    margin-top: 0px;

}

.username-and-timestamp-div{
    display: flex;
    height: 20px;
}

.message-profile{
    width: 45px;
    height: 40px;
    padding-right: 4px;
}

.message-body-div{
    margin-bottom: 15px;
    padding-top: 0px;
}

.fake-text-area{
padding: 10px;
}

.message-div:hover .message-actions-div {
    visibility: visible;
}



.message-actions-div{
    visibility: hidden;
   
   
    border: 1px solid gray; 
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    
}

.message-actions-div button{
    background-color: white;
    border: none;
}
.message-actions-div :hover{
    background-color: #d3d3d330;
    border: none;
}

.delete-tool-tip, .update-tool-tip{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext, .tooltiptextedit {
    visibility: hidden;
    width: 120px; 
    background-color: black;
    color: white; 
    text-align: center;
    padding: 5px 0; 
    border-radius: 6px;
    position: absolute; 
 
    bottom: 25px; 
}

.tooltiptext {
    right: 10px;
}

.tooltiptextedit {
    right: 5px;
}

.delete-tool-tip:hover .tooltiptext{
    visibility: visible;
}

.update-tool-tip:hover .tooltiptextedit{
    visibility: visible;
}

.message-edit-div{
    visibility: hidden; 
    height: 0px;
    width: 0px;
    display: flex;
    flex-direction: column;
}

.hide-div{
    height: 0px;
    width: 0px;
    overflow: hidden;
}



.edit-cancel{
    background-color: white;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
}
.edit-submit{
    background-color: teal;
    color: white;
    padding: 5px;
    margin: 3px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-edit-div textarea {
    border: 1px solid gray; 
    min-height: 70px;
    width: 95%;
    border-radius: 5px;
    font-family: sans-serif;
}

