

.all-channels-index{
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.master-channels-index-div{
    display: flex;
    
}

.chanels-index-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chanels-index-item:first-child{
    border-top: 1px solid lightgray;
}

.chanels-index-item:hover{
    background-color: #eaecec45; 
}

.chanels-index-item p{
    padding-left: 10px;
    font-family: sans-serif;
}


.chanels-index-item button{
   background-color: #30806a; 
    font-weight: bold;
    width: 100px;
    margin: 20px;
    color: white; 
    border: none;
    border-radius: 5px;
    height: 40px; 
    align-self: center;
    padding-left: 10px;
    font-size: 16px;
}

.chanels-index-item button:hover{
    background-color: #3c9e83;
}

.chanels-index-item-members{
    color: #736f6f;
    font-size: 12px;
}

.channels-index-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    align-items: center;
}

.channels-index-info div {
    padding: 20px;
    
    font-size: 15px;
}

.channels-index-info button{
    color:  #3e3d3d; 
    background-color: white;
    border: 1px solid lightgray;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px; 
    cursor: pointer;
    font-weight: bold;
}

.channels-index-info button:hover{
    background-color: #5a59590f; 
    box-shadow: 2px 2px #a9a9a914;
}



