.channel_members_index{
    font-family: sans-serif;
    padding-left: 25px; 
    padding-right: 25px; 
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 400px;
    min-width: 400px;
}

.channel_members_index p {
    color: #1670a7;
    cursor: pointer;
}

.channel_members_index h1 {
    font-size: 22px;
}

.channel_members_index p:hover{
    text-decoration: underline;
}

.channel_members_index div{
    display: flex;
    cursor: pointer;
}

.channel_members_index div:hover{
    background-color: #d3d3d333; 
}

.channel_members_index button{
    color: #3c3a3a; 
    background-color: #d3d3d37d;
    border: 0px;
    border-radius: 3px;
    font-weight: bold;
    font-family: sans-serif;
   
}

.channel_members_index img {
    width: 40px;
    height: 30px;
}

.channel_members_index_ele{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}