.form{
    position: relative;
    left: 0%; 
    font-family: sans-serif;
    padding: 30px; 
}

.form p{
  color: gray;  
}


.form label{
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form input{
    width: 500px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
} 

.makeprivateandbutton{
display: flex;
justify-content: space-between;
align-items: center;

}

.makeprivatewords{
  width: 55%;
}

.private-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 14px;
    margin: 5px;
    
}

.private-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #585858;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:after {
  background-color: white;
}


input:checked + .slider {
  background-color: #30806a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}


.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

.channel-form-button{
    margin-left: 85%;
    color: #4e4b4b;
    background-color: #80808057;
    outline: none;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.makeprivatewords{
  padding-right: 160px;
}