.header-div{
    display: flex;
    height: 35px;
    background-color:#2d092d;
    justify-content: space-between;
    /* overflow: hidden; */
}

.modal button{
    background-color:#2d092d;
    border: none;
    height: 35px;
    outline: none;
}   



.header-sign{
    padding-top: 4px;
    margin-bottom: 4px;
    border-top: 1px solid lightgray; 
}

.header-edit{
    border-top: 1px solid lightgray;
}


.header-dropdown li:hover{
    background-color: #094d87;
    color: white; 
    cursor: pointer;

} 


.header-div-2{

    display: flex;
    height: 50px;
    justify-content: space-between;
}

.header-div-2 i {
    width: 20px;
    color: #d1ccd4;
    padding-top: 9px;
    padding-left: 7px;
    padding-right: 7px;
}

.header-div-2 i:hover {
    background-color: #d1ccd42b;
}


.header-div-2 input{
    border-radius: 3px;
    border:#766679 .5px solid; 
    height: 50%;
    width: 310px;
    color: white;
    background-color: #6f666f52;
}

.header-div-2-parts{
    padding: 5px; 
}

.modal{
    display: flex;
    align-items: center;
}

 .header-dropdown{
    background-color: #f9f8f8; 
    color: black;
    font-weight: normal;
    border-radius: 5px;
    list-style: none;
    padding-inline-start: 0px;
    font-size: 14px;
    overflow: hidden;
    font-family: sans-serif;
    z-index: 10;
      left: 100%;
    transform: translateX(-160px);
    width: 150px; 
    border: 1px solid lightgray; 
    box-shadow: 3px 3px#d3d3d34f;
    
}  


.header-dropdown li{
    padding: 5px; 
    width: 100%;
    text-align: left;
    color: #443f3f; 
}

.header-dropdown-div{
    padding: 5px; 
}
.profile{
     width: 35px;
    height: 27.5px;
}
.dropdown-profile {
    width: 35px;
    height: 27.5px;
    padding-top: 5px; 
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.username{
    padding-top: 5px; 
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.header-dropdown-profile-username{
    display: flex;
  
}

.header-dropdown-profile-username{
    font-weight: bold;
}


