.info-div {
    height: 65px;
    width: 100%; 
    display: flex;
    border: lightgray 1px solid;
}

.channel-name {
    padding-left: 15px;
    padding-top: 5px;
    font-size: 16px;
    font-family: sans-serif;
}
.pencil{
    width: 45px;
    padding-right: 10px;
}

.counter{
    font-family: sans-serif;
}

.workspace-name{
    padding-left: 10px;
    font-size: 14px;
}

.left-info{
    display: flex;
    border-top: lightgray;
    border-bottom: lightgray;
    background-color: #3e0d3e;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    width: 22%;
}

.add  {
    width: 40px;
    height: 40px;
    padding-bottom: 18px; 
}
.right-info {
    width: 78%;
    height: 100px;
     border-top: lightgray;
    border-bottom: lightgray;
    display: flex;
    justify-content: space-between;
    
}

.sub-right-info{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.info-img {
    width: 55px;
    padding-right: 20px;
    padding-bottom: 20px;
}