.info-div {
    height: 65px;
    width: 100%; 
    display: flex;
    
}

.info-click-dropdown-button{
   color: lightgray;
   font-size: 26px;
   font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:200;
   
}

.revised-outer-div:hover{
   
    border-radius: 5px;
  background-color: lightgray   ;
  cursor: pointer;
   
}

.dm-user-names-info{
display: flex;
align-items: center;
font-family: sans-serif;
padding: 10px;
font-weight: bold;

}

.revised-outer-div{
     height: 25px;
    width: 25px;
    background-color: transparent;
    border: none;
}

.channels-title-uci{
    padding-left: 15%;
}
.delete-channel{
    background-color: #6c6c73;
    color: white;
    outline: none;
    box-shadow: none;
    border: 0px;
    border-radius: 3px;
}

.delete-channel:hover{
    background-color: #404044; 
    cursor: pointer;
}
.channel-name {
    padding-left: 15px;
    padding-top: 5px;
    font-size: 16px;
    font-family: sans-serif;
}

.pencil{
    display: none;
    width: 60px;
    padding-top: 15px;
}

.sub-right-info i {
    color: #6c6c73;
}



.dropdown{
    background-color: #f7f7f7;
    font-family: sans-serif;
    color: darkgray;
    font-weight: normal;
    border-radius: 5px;
    list-style: none;
    padding-inline-start: 0px;
    font-size: 12px;
    overflow: hidden;
    transform-origin: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid lightgray; 
    box-shadow: 3px 3px#d3d3d34f;
   
}

.dropdown-div{
    transform: translateX(-60%);
    z-index: 20;
}


.dropdown li{
    padding: 5px; 
   
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
}

.dropdown a{
    padding-left: 15px; 
    padding-right: 17px; 
    padding-bottom: 4px;
    color: #443f3f; 
    padding-top: 4px; 
    text-decoration: none; 
    
}

.dropdown a:hover{
    background-color:#0c63ad;
    color: white;
}

.dropdown a:first-child{
     border-bottom: 1px darkgray solid; 
}

.edit-channel-div {
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.dropdown li:hover{
    background-color: #0c63ad;

}

.sub-right-info i:hover{
    background-color: #eaeaf3;
}

.counter{
    font-family: sans-serif;
    font-size: 13px;
}

.workspace-name{
    padding-left: 10px;
    font-size: 14px;
    
}

.left-info{
    display: flex;
    border-top: lightgray;
    border-bottom: lightgray;
    background-color: #3e0d3e;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    min-width: 219px;
    border-top: #734c73 1px solid; 
    border-bottom: #734c73 1px solid; 
    border-right: #734c73 1px solid; 
}

.left-info:hover{
    background-color: #2d092d;
}

.add  {
    width: 40px;
    height: 40px;
    padding-bottom: 18px; 
}
.right-info {
    width: 100%;
    height: 63px;
     border-top: white 1px solid;
    border-bottom: lightgray 1px solid;
    display: flex;
    justify-content: space-between;
    
}

.sub-right-info{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.info-img {
    width: 55px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.members-count{
    font-family: sans-serif;
    cursor: pointer;
    padding-top: 4px; 
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
     border-radius: 4px;
}

.members-count:hover{
   background-color: #bdb8b82e;
   
  
}
 .users-index-btn{
    color: white; 
    background-color: #177bc3 ;
    font-family: sans-serif;
    font-weight: bold;
    border: 0px;
    border-radius: 3px;
    height: 30px;
    cursor: pointer;
} 

.users-index-btn:hover{
    background-color: #1e9cf7;
}


.revised-info-click-dropdown{
      background-color: #f7f7f7;
    font-family: sans-serif;
 
    font-weight: normal;
    border-radius: 5px;
    list-style: none;
    padding-inline-start: 0px;
    font-size: 12px;
    overflow: hidden;
    transform-origin: 10px;
    left: 50%;
    transform: translateX(-80%);
    z-index: 10;
    width: 200px;
    
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid lightgray; 
    box-shadow: 3px 3px#d3d3d34f;
}

.revised-info-click-dropdown a{
  padding-right: 31px;
 
    text-decoration: none;
    cursor: pointer;
     color: #443f3f; 
   
}

.revised-info-click-dropdown div {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 5px; 
    cursor: pointer;
     color: #443f3f; 
}

.revised-info-click-dropdown div:hover{
    background-color: #0c63ad;
    color: white;
}

.revised-info-click-dropdown a:hover{
    background-color: #0c63ad;
    color: white;
}

#become-transparent{
    background-color: transparent;
    size: 100%;
}