.info-div {
    height: 65px;
    width: 100%; 
    display: flex;


}

.channel-name {
    padding-left: 15px;
    padding-top: 5px;
    font-size: 16px;
    font-family: sans-serif;
}

.left-info{
    display: flex;
    border-top: lightgray;
    border-bottom: lightgray;
    background-color: #500350; 
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    width: 25%;
}

.add  {
    width: 20px;
    height: 20px;
}
.right-info {
    width: 75%;
    height: 100px;
     border-top: lightgray;
    border-bottom: lightgray;
    display: flex;
    justify-content: space-between;
    
}

.sub-right-info{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.info-img {
    width: 30px;
}