
.create-channel:hover{
     background-color: #094d87;
}

.create-channel{
border: 0px;
padding-right: 22px;
background-color: #f7f7f7;
}



.dropdown-UCI {
    background-color: #f7f7f7;
    font-family: sans-serif;
    color: black;
    font-weight: normal;
    border-radius: 5px;
    list-style: none;
    padding-inline-start: 0px;
    font-size: 12px;
    overflow: hidden;
    transform-origin: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 130px;
}

.channel-browser-link {
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1px darkgray solid;
   
}

.channel-browser-link:hover{
    background-color: #094d87;
}

.channels-title-uci{
    /* padding-top: 15px; */
    transform: translateX(-6%);
}



.user-channels-dropdown-div{
    transform: translateY(-12px);
}