
.create-channel:hover{
     background-color: #0677ca; 
     color: white;
}

.create-channel{
border: 0px;
 padding-top: 3px;
padding-bottom: 3px;
padding-left: 14px;
padding-right: 14px;
background-color: #f7f7f7;
margin-top: 10px;
font-size: 13px;
}

.info-click-dropdown-button{
    background-color: #d3d3d300;
    border: 0px;
    outline: none;
    border-radius: 4px;
}


.dropdown-UCI {
    background-color: #f7f7f7;
    font-family: sans-serif;
    color: black;
    font-weight: normal;
    border-radius: 5px;
    list-style: none;
    padding-inline-start: 0px;
    font-size: 12px;
    overflow: hidden;
    transform-origin: 10px;
    left: 50%;
    transform: translateX(-10%);
    z-index: 10;
    width: 130px;
    height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
      
}

.channel-browser-link {
    padding-top: 3px;
padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    text-decoration: none;
    font-size: 13px;
   
}

.channel-browser-link:hover{
    background-color: #0677ca; 
    color: white;
}

.channels-title-uci{
    /* padding-top: 15px; */
    transform: translateX(-6%);
}


