.channels-index{
     background-color: #3e0d3e;
     width: 100%;
     cursor: pointer;
     margin: 0px;

   
}

.title-and-info-link{
    display: flex;
}

.fake-button{
    margin-bottom: 5px;
}


.fake-button:hover{
    background-color: #d3d3d326; 
    
}


.show-channels{
    border: none;
    background-color: #3e0d3e00; 
    color: lightgray; 
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left:10px; 
    outline: none;
    border-radius: 3px;
  
} 
.show-channels2{
    border: none;
    background-color: #3e0d3e00; 
    color: lightgray; 
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 0px;
    outline: none;
    border-radius: 3px;
    margin-left: 0px;
  
} 


.caret-down2{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px; 
  
    border-radius: 3px;
}

.caret-down2:hover, .caret-right:hover{
    background-color: #96939369;
}

.caret-right2{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 11px;
    padding-left: 8px; 
    border-radius: 3px;
   
}











.ui-channel-link {
    color: #bbbbbb; 
    text-decoration: none;
    font-size: 14px;
    padding-left: 20px; 

}

.ui-li-ele:first-child a{
    color: white;
}






.channels-index{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
 
}

.channels-browser{
    font-family: sans-serif;
    color: white; 
    background-color: #0c63ad;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
   
    cursor: pointer;
    width: 100%;
}

.channels-browser-inner{
    padding-left: 45px;
}

.channels-title-uci{
    font-family: sans-serif;
    color: #bbbbbb; 
    padding-top: 10px;
    font-size: 15px;
    padding-left: 6px;
}




.user-channels-dropdown{
    padding: 0px;
    width: 233px;
    transform: translateX(-10%);
    cursor: pointer;
    margin-top: 5px;
}



.uci-li-ele{
    overflow: hidden;
    white-space: nowrap;
    list-style: none;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 10px;
    font-size: 14px;
}

.uci-li-ele:hover{
      background-color: #2d092d;
      cursor: pointer;
}

.active-channel {
    background-color: #0c63ad;
    color: white;
}

.active-channel a{
    color: white;
}


.selected-channel {
    background-color: #0c63ad;
    color: white;
}

.selected-channel a{
    color: white;
}


