.channels-index{
     background-color: #3e0d3e;
     width: 100%;
   
}

.title-and-info-link{
    display: flex;
}

.title-and-info-link a{
    font-size: 12px;
    border-radius: 2px;
    align-self: center;
    
    
}

.fake-button{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 30px;
    width: 35px;
    border-radius: 2px;
    margin: 4px;
}

.fake-button:hover{
    background-color: #d3d3d326; 
    
}


.master-div{
    display: flex;
}


.first-channel{
    padding-left: 4px;
}

.user-index-channel-name{
    padding-left: 10px;
}

.show-channels{
    border: none;
    background-color: #3e0d3e00; 
    color: lightgray; 
    text-align: left;
    width: 100%;
    height: 20px;
    border: 0px; 
    outline: 0px;
    padding: 0px; 
}

.user-channels-dropdown{
    background-color: #3e0d3e;
    box-sizing: border-box;
    color: lightgray; 
    list-style: none;
    border: none;
    text-align: left;
    border: 0px; 
    outline: 0px;
    width: 122%;
    padding-left: 50px;
     left: -8%;
    transform: translateX(-8%); 
    transform: translateY(16%); 
}

.channels-title{
    padding-left: 20px;
}
.ui-channel-link {
    color: lightgray; 
    text-decoration: none;
    background-color: none;
}

.first-channel a {
   color: lightgray; 
    text-decoration: none;
    background-color: none; 
}


.ui-channel-link{
    margin-left: 10px ;
}

.first-channel{
    padding-left: 32px;
    margin: 0; 
    font-family: sans-serif;
    font-size: 14px;
}


