.footer{   
     display: block
 }

 .footer img{
     margin-top: 40px;
     margin-left: 20px;
     float: left;
     height: 70px;
    width: 70px;
 }

 .footer div {
     font-family: sans-serif;
     font-size: 14px;
     color: #888383;
     float: right;
     margin: 10px;
     padding-left: 15px;
     padding-right: 15px;
 }

  .footer div h3 { 
      margin-top: 40px;
      font-size: 14px;
     color: #423f3f;
 }

 .personal-links{
     color: #888383;
     text-decoration: none;
     margin-bottom: 5px;

 }

 .footer-col-3{
     padding-right: 60px;
 }
