 .animation{
     /* min-height: 1100px; */
     width: 100%;
     background-color: #e6e1d6;
     overflow: hidden;
     font-size: 18px;
     font-family: sans-serif;
     padding-left: 5%;
     padding-right: 5%;
 }

 .animation-row-1{
   display: flex;
   align-items: center;
 }
  .animation-row-2{
   display: flex;
   align-items: center;
 }
 .animation-row-3{
   height: 100px;
 }

 .shack-channel-demo{
   width: 90%;
 }
 
 .ani-row-1-col-1{
   width: 40%;
 }
  .animation-row-2-col-1{
   width: 65%;
 }

 .animation-row-2-col-2{
   width: 30%;
 }


 

  .ani-row-1-col-2{
   width: 60%;
 }
 

 .splash-shack-1{
   width: 80%;
   padding-top: 60px;
   padding-left: 40px;
 }


 .animation-row-1 h1{
  padding-top: 100px;
  padding-left: 20px;
   font-size: 50px;
   width: 350px;
 }



 .animation-row-1 p{
     padding-left: 20px;
 }

  .animation button{
    background-color:#561163;
    font-weight: bold;
    width: 350px;
    margin: 20px;
    color: white; 
    border: none;
    border-radius: 5px;
    height: 60px; 
    align-self: center;
    padding-left: 10px;
    font-size: 16px;
  
 }

 .animation button:hover{
    cursor: pointer;
    background-color: #2d092d;
 }

 .animation p{
   word-spacing: 2px;
 }
 