.DMI-button-title{
    display: flex;
    font-family: sans-serif;
    color: #bbbbbb;
    align-items: center;
}

.DMI-button-title button{
    margin-left: 10px;
}

.DMI-title{
    font-size: 15px;
    margin-left: 11px;
}
.udmi-li-wrapper{
    overflow: hidden;
    white-space: nowrap;
    list-style: none;
    padding-bottom: 5px;
    width: 100%;
    
}

.udmi-li-wrapper:hover{
   background-color: #2d092d;
}
.udmi-li-ele{
    text-decoration: none; 
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 10px;
    font-size: 14px;
    font-family: sans-serif;
    height: 10px;
    overflow: hidden;
    color: #bbbbbb;
}

.caret-down{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px; 
    margin-left: 10px;
    border-radius: 3px;
}

.caret-down:hover, .caret-right:hover{
    background-color: #96939369;
}

.caret-right{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 11px;
    padding-left: 8px; 
    border-radius: 3px;
     margin-left: 10px;
}

.user-dms-index-button{
    padding-left: 15px;
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    color: #bbbbbb;
   
    
}


.margin-left-div{
    margin: 0px;
}
.user-dms-index-button:hover{
     
    cursor: pointer;
}

.direct-message-button{
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #bbbbbb;
    outline: none;
    padding-left: 2px;
}

.direct-message-button:hover{
    cursor: pointer;
}

.udmi-ul{
    padding-left: 0px;
    width: 100%;
}

.active-dm{
    background-color: #0c63ad;
    color: white;
}

.active-dm a {
    color: white;
}
.UDMI-dropdown-container{
    position: absolute;
    top: 77px;
    right: 10px;
}

#ready-btn{
background-color: #30806a;
color: white;  
border: none;
cursor: pointer;
}

#ready-btn:hover{
 background-color: #3c9e83;
}

.dm-flex{
    display: flex;
    align-items: center;
   
}

.dm-index-dropdown-button{
   color: lightgray;
   font-size: 26px;
   font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
   font-weight:200;
   margin-bottom: 5px;
    margin-left: 20px;
   background-color: transparent;
   border: none;
}

.dm-index-dropdown-button:focus{
    outline: 0;
}

.dm-index-dropdown-button:hover{
   background-color: #d3d3d326;
   cursor: pointer; 
}
