
.window{
    display: flex;
    height: 100%;
    width: 100%;
}
.sidebar{
    min-width: 220px;
    height: 700px;
    /* position: absolute;
    top: 100px; 
    bottom: 0px;  */
  
    background-color: #3e0d3e;
}



.main-window{
   
    position: absolute;
    top: 100px; 
    left: 220px;
    right: 0px; 
    bottom: 0px; 
}