
.window{
    display: flex;
    height: 100%;
    width: 100%;
}
.sidebar{
    z-index: 3;
    min-width: 220px;
   
    position: absolute;
    top: 103px; 
    bottom: 0px; 
  
    background-color: #3e0d3e;
}



.main-window{
   
    position: absolute;
    top: 110px; 
    left: 220px;
    right: 0px; 
    bottom: 0px; 
    overflow: scroll;
}