.all-users-index {
    padding-left: 10px;
    font-family: sans-serif;
}

.users-index-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;

}

.all-users-index button{
   background-color: #30806a; 
    font-weight: bold;
    width: 100px;
    margin: 20px;
    color: white; 
    border: none;
    border-radius: 5px;
    height: 40px; 
    align-self: center;
    padding-left: 10px;
    font-size: 16px;
}

.users-index-item:hover{
    background-color: #eaecec45; 
}

.first-child-border:first-child{
    border-top: 1px solid lightgray;
}